pipeline/working_with_apis.json
{
	"name": "working_with_apis",
	"properties": {
		"activities": [
			{
				"name": "rijksData",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://www.rijksmuseum.nl/api/nl/collection?key=6epvixwD&involvedMaker=Rembrandt+van+Rijn",
					"method": "GET"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "rijksData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('rijksData').output.artObjects",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "images",
								"value": {
									"value": "@json(concat('{\"id\":\"',item().id, '\",', '\"url\":\"', item().webImage.url, '\"}'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"images": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}